* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
border: solid;
border-radius: 75px;
width: 150px;
margin: 0;
padding: 0;
}
h2 {
 font-size: 18px;
 margin: 0;
 padding: 0;
}
body {
 background: linear-gradient(to bottom,slateblue, purple);
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
 overflow: hidden;
 font-family: Trebuchet MS, sans-serif;
 color: white;
 text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  margin: 0;
  padding: 0;
}
button {
width: 300px;
height: 40px;
justify-content: center;
align-items: center;
border-radius: 90px;
background-color: white;
margin: -5px 0;
padding: 0;
}
button a {
display: block;

justify-content: center;
align-items: center;
 font-size: 17px;
 border-radius: 40px;
color: slateblue;
height: 100%;
line-height: 40px;
width: 100%;
}